/.vs
/dapp_nns_domaincenter/bin
/dapp_nns_domaincenter/obj
/NCnnsRegistry/bin
/NCnnsRegistry/obj
/NCnnsResolvers/obj
/NCnnsResolvers/bin
/NeoContractTest1/obj
/NeoContractTest1/bin
/packages
/dapp_nns_register_fifo/bin
/dapp_nns_register_fifo/obj
/dapp_nns_resolver/bin
/dapp_nns_resolver/obj
/dapp_nns_domaincenter_jump/bin
/dapp_nns_domaincenter_jump/obj
/nnc_contract/obj
/nnc_contract/bin
/dapp_nns_register_sell/bin
/dapp_nns_register_sell/obj
/dapp_sgas/.vs
/dapp_sgas/bin
/dapp_sgas/obj
/dapp_nns_coinpool/bin
/dapp_nns_coinpool/obj
/dapp_nnc3.0/obj/Debug
/dapp_nnc3.0/bin/Debug
/dapp_nnc4.0/obj
/dapp_nnc4.0/bin
/dapp_nns_domainTransaction/obj
/dapp_nns_domainTransaction/bin
